<h2>About Comix</h2>
<p>We are working hard to bring the work of several independent artists from all over the world to you. If you want to be on board,
  join us and we will notify as soon as we launch.</p>
<p>As comic creators ourselves, we want to bring a platform that allows indie creators wide access to their fans and have a say in building of tools for expanding the reach of their craft.</p>
<p>Follow our journey on our blog <a href="https://medium.com/comix-life" target="_blank">here</a>.</p>

<h2>Are you a Comic Creator ?</h2>
<p>As a part of early access to creators, we are offering a promotional offer on our transaction fees. Read more about it <a href="https://medium.com/comix-life/introductory-offer-for-creators-76c26111f5a4" target="_blank">here</a>.Click <a href="http://eepurl.com/cSdfbr" target="_blank">here</a> to sign up for an early beta access.</p>

<h2>Are you a reader ?</h2>
<p>Sign up for our beta access and unlock exclusive access from our early creators.Sign up <a href="http://eepurl.com/cSdfbr" target="_blank">here</a> today!</p>

