<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.compass.author }} &#8226; {{ site.compass.tagline | strip_html }}</title>

  <link rel="apple-touch-icon" href="{{ site.compass.logo }}"/>
  <link rel="shortcut icon" sizes="16x16 24x24 32x32 48x48 64x64" href="{{ site.url }}/favicon.ico" />

  <link rel="stylesheet" href="{{ site.baseurl }}/assets/normalize.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/main.css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <!-- <link href="https://fonts.googleapis.com/css?family=Work+Sans:200,300,400,500,600" rel="stylesheet"> -->
  <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">

  <link rel="canonical" href="{{ site.url }}{{ page.url }}">

  <meta name="author" content="{{ site.compass.author }}">
  <meta name="description" content="{{ site.compass.tagline }}"/>

  <meta property="og:title" content="{{ site.compass.tagline }}"/>
  <meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
  <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}{{ site.compass.logo }}"/>
  <meta property="og:description" content="{{ site.compass.description }}"/>
  <meta property="og:site_name" content="{{ site.compass.tagline }}">
  <script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="8f622732-2e68-4ac0-9bd6-b6def40ff4d4";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
  {% if site.compass.include_analytics %}
  {% include analytics.html %}
  {% endif %}
</head>
